:root {
    --main-bg: #010101;
    --lime: #BAFF00;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}


body {
    background-color: var(--main-bg);
}

main {

}

.header-container {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    background-color: var(--main-bg);
}

header {
    width: 80%;
    margin: auto;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    cursor: pointer;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 300;
}

header nav a {
    margin: 0 10px;
    padding: 10px 20px;
}

header nav a:hover {
    border-radius: 50px;
    background-color: white;
    color: var(--main-bg);
}

header .hamburger {
    cursor: pointer;
    width: 40px;
    height: 40px;

    border: 2px solid rgb(122, 122, 122);
    border-radius: 6px;

    padding: 6px;
    box-sizing: border-box;

    display: none;
    flex-direction: column;
    justify-content: space-around;

    position: relative;
}

header .hamburger .line {
    width: 100%;
    height: 2px;

    background-color: rgb(122, 122, 122);
}

header .hamburger .menu-overlay.show {
    display: flex;
}

header .hamburger .menu-overlay {
    position: absolute;
    top: 38px;
    right: 0px;
    padding: 20px 0px;
    
    width: 200px;
    z-index: 1;

    display: none;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
}

header .hamburger .menu-overlay a.active {
    color: #111;
    background-color: var(--lime);
}

header .hamburger .menu-overlay a.active:hover {
    color: #111;
    background-color: var(--lime);
}

header .hamburger .menu-overlay a {
    color: #111;
    font-weight: 400;
    font-size: 14px;
    margin: 10px 0;
    padding: 10px 20px;
}

header .hamburger .menu-overlay a:hover {
    color: #111;
    background-color: rgba(17, 17, 17, 0.127);
}

header a.about-me {
    padding: 10px 15px;
}

header a.about-me.active {
    color: #111;
    font-weight: 400;
    border-radius: 50px;
    background-color: var(--lime);
}

header a.about-me:hover {
    border-radius: 50px;
    color: #111;
    background-color: var(--lime);
}

section.about {
    width: 50%;
    margin: auto;
    color: white;
}

section.about .profile {
    margin-top: 190px;
    display: flex;
    align-items: center;
}

section.about .profile .profile-cta {
    margin-left: 65px;
}

section.about .profile .profile-cta .hi {
    font-weight: 300;
    font-weight: 16px;
}

section.about .profile .profile-cta .username {
    font-size: 40px;
    font-weight: 600;
    width: fit-content;
}

section.about .profile .profile-cta .username:hover {
    cursor: pointer;
    text-decoration: underline;
}

section.about .profile .profile-cta .roles {
    margin-top: 5px;
    display: flex;
}

section.about .profile .profile-cta .roles p {
    font-weight: 300;
    color: #7B7B7B;
}

section.about .profile .profile-cta .roles p:nth-child(2){
    margin-left: 25px;
}

section.about .profile .profile-cta .roles p:nth-child(3){
    margin-left: 25px;
}

section.about .profile .profile-cta .buttons-cta {
    margin-top: 35px;
}

section.about .profile .profile-cta .buttons-cta button {
    cursor: pointer;
    font-size: 16px;
    padding: 8px 40px;
    border-radius: 6px;
    border: none;
}

section.about .profile .profile-cta .buttons-cta button:first-child {
    color: white;
    background-color: #0DB6FF;
}


section.about .profile .profile-cta .buttons-cta button:last-child {
    margin-left: 10px;
    color: white;
    border: 1px solid white;
    background-color: transparent;
}

section.about .profession {
    /* padding: 10px 30px; */
    border-top: 1px solid rgb(45, 45, 45);
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.about .profession p {
    cursor: pointer;
    padding: 10px 30px;
    font-weight: 300;
    border-radius: 0px 0px 8px 8px;
}

section.about .profession p.active {
    background-color: rgb(45, 45, 45);
}

section.about .profession p:hover {
    background-color: rgb(45, 45, 45);
}

section.about .profession-about {
    margin-top: 90px;
    margin-bottom: 200px;
}

section.about .profession-about p {
    font-weight: 300;
    padding: 0 30px;
}

@media (min-width: 1025px) and (max-width: 1440px) {

    header img {
        width: 40px;
        height: 27px;
    }

    header nav a {
        padding: 8px 15px;
    }

    header nav a.about-me {
        padding: 8px 15px;
    }

    header a.about-me.active {
        padding: 8px 15px;
    }

    /* END OF HEADER */
  
    section.about .profile img {
        width: 180px;
        height: 180px;
    }

    section.about .profile .profile-cta {
        margin-left: 40px;
    }

    section.about .profile .profile-cta .hi {
        font-weight: 300;
        font-weight: 14px;
    }
    
    section.about .profile .profile-cta .username {
        font-size: 35px;
        font-weight: 600;
    }
    
    section.about .profile .profile-cta .roles {
        margin-top: 8px;
        width: 400px;
    }

    section.about .profile .profile-cta .roles p {
        font-size: 14px;
    }

    section.about .profile .profile-cta .buttons-cta {
        margin-top: 30px;
    }

    section.about .profile .profile-cta .buttons-cta button {
        font-size: 12px;
        padding: 8px 28px;
    }

    section.about .profession p {
        font-size: 14px;
    }
    
}

@media (max-width: 1159px){
    section.about .profession p {
        font-size: 12px;
    }
}

@media (max-width: 1058px){
    section.about .profession p {
        font-size: 10px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    
    header img {
        width: 40px;
        height: 27px;
    }

    header a {
        font-size: 12px;
    }

    header nav a {
        padding: 8px 15px;
    }

    header nav a.about-me {
        padding: 8px 15px;
    }

    header a.about-me.active {
        padding: 8px 15px;
    }
    
    section.about .profile {
        margin-top: 190px;
    }

    section.about .profile img {
        width: 160px;
        height: 160px;
    }

    section.about .profile .profile-cta {
        margin-left: 40px;
    }

    section.about .profile .profile-cta .hi {
        font-size: 12px;
    }
    
    section.about .profile .profile-cta .username {
        font-size: 25px;
        font-weight: 600;
    }
    
    section.about .profile .profile-cta .roles {
        margin-top: 8px;
        width: 350px;
    }

    section.about .profile .profile-cta .roles p {
        font-size: 12px;
    }

    section.about .profile .profile-cta .buttons-cta {
        margin-top: 30px;
    }

    section.about .profile .profile-cta .buttons-cta button {
        font-size: 12px;
        padding: 5px 20px;
    }

    section.about .profession {
        /* border: 1px solid red; */
    }
    
    section.about .profession p {
        padding: 10px 20px;
        font-size: 11px;
    }

    section.about .profession-about p {
        font-size: 11px;
    }

}

@media (min-width: 481px) and (max-width: 768px) {

    header img {
        width: 40px;
        height: 27px;
    }

    header a {
        font-size: 12px;
    }

    header nav {
        display: none;
    }

    header nav a {
        padding: 8px 15px;
    }

    header nav a.about-me {
        padding: 8px 15px;
        display: none;
    }

    header .hamburger {
        display: flex;
    }

    header .hamburger .menu-overlay.show {
        display: flex;
    }

    header a.about-me.active {
        padding: 8px 15px;
        display: none;
    }
    
    section.about {
        width: 100%;
    }

    section.about .profile {
        margin-top: 190px;
    }

    section.about .profile img {
        width: 45%;
        height: 45%;
    }

    section.about .profile .profile-cta {
        margin-left: 40px;
    }

    section.about .profile .profile-cta .hi {
        font-size: 12px;
    }
    
    section.about .profile .profile-cta .username {
        font-size: 2rem;
        font-weight: 600;
    }
    
    section.about .profile .profile-cta .roles {
        margin-top: 8px;
        display: flex;
    }

    section.about .profile .profile-cta .roles p {
        font-size: 12px;
    }

    section.about .profile .profile-cta .buttons-cta {
        margin-top: 30px;
    }

    section.about .profile .profile-cta .buttons-cta button {
        font-size: 12px;
        padding: 5px 20px;
    }

    section.about .profession {
        /* border: 1px solid red; */
    }
    
    section.about .profession p {
        padding: 10px 20px;
        font-size: 12px;
    }

    section.about .profession-about p {
        font-size: 12px;
    }
    
}

@media (max-width: 632px){

    section.about .profile .profile-cta .username {
        font-size: 25px;
    }

    section.about .profile .profile-cta .roles {
        display: flex;
        width: 100%;
    }

    section.about .profile .profile-cta .roles p {
        font-size: 12px;
    }

}

@media (max-width: 500px){

    section.about .profile .profile-cta {
        margin-left: 25px;
    }

    section.about .profile .profile-cta .username {
        font-size: 22px;
    }

    section.about .profile .profile-cta .roles {
        width: 200px;
        flex-wrap: wrap;
    }

    section.about .profile .profile-cta .roles p {
        /* border: 1px solid red; */
        font-size: 12px;
        
    }

    section.about .profile .profile-cta .roles p:nth-child(2){
        margin-left: 10px;
        margin-top: 2px;
    }

    section.about .profile .profile-cta .roles p:nth-child(3){
        margin-left: 0px;
        margin-top: 2px;
    }

    section.about .profile .profile-cta .buttons-cta {
        margin-top: 20px;
    }
}

@media (min-width: 376px) and (max-width: 480px) {
  
    header img {
        width: 40px;
        height: 27px;
    }

    header a {
        font-size: 12px;
    }

    header nav {
        display: none;
    }

    header nav a {
        padding: 8px 15px;
    }

    header nav a.about-me {
        padding: 8px 15px;
        display: none;
    }

    header .hamburger {
        display: flex;
    }

    header .hamburger .menu-overlay.show {
        display: flex;
    }

    header a.about-me.active {
        padding: 8px 15px;
        display: none;
    }
    
    section.about {
        width: 100%;
    }

    section.about .profile {
        margin-top: 140px;
    }

    section.about .profile img {
        width: 37%;
        height: 37%;
    }

    section.about .profile .profile-cta {
        margin-left: 25px;
    }

    section.about .profile .profile-cta .hi {
        font-size: 10px;
    }
    
    section.about .profile .profile-cta .username {
        font-size: 18px;
    }
    
    section.about .profile .profile-cta .roles {
        margin-top: 8px;
        display: flex;
    }

    section.about .profile .profile-cta .roles p {
        font-size: 12px;
    }

    section.about .profile .profile-cta .buttons-cta {
        margin-top: 20px;
    }

    section.about .profile .profile-cta .buttons-cta button {
        font-size: 12px;
        padding: 5px 20px;
        border-radius: 3px;
    }
    
    section.about .profession p {
        padding: 10px 20px;
        font-size: 10px;
    }

    section.about .profession-about p {
        font-size: 12px;
    }
    
}

@media (min-width: 280px) and (max-width: 375px){
    header img {
        width: 40px;
        height: 27px;
    }

    header a {
        font-size: 12px;
    }

    header nav {
        display: none;
    }

    header nav a {
        padding: 8px 15px;
    }

    header nav a.about-me {
        padding: 8px 15px;
        display: none;
    }

    header .hamburger {
        display: flex;
    }

    header .hamburger .menu-overlay.show {
        display: flex;
    }

    header a.about-me.active {
        padding: 8px 15px;
        display: none;
    }
    
    section.about {
        width: 100%;
    }

    section.about .profile {
        margin-top: 130px;
    }

    section.about .profile img {
        width: 37%;
        height: 37%;
    }

    section.about .profile .profile-cta {
        margin-left: 25px;
    }

    section.about .profile .profile-cta .hi {
        font-size: 10px;
    }
    
    section.about .profile .profile-cta .username {
        font-size: 18px;
    }
    
    section.about .profile .profile-cta .roles {
        margin-top: 8px;
        width: 100px;
        display: flex;
    }

    section.about .profile .profile-cta .roles p {
        font-size: 10px;
    }

    section.about .profile .profile-cta .roles p:nth-child(2){
        margin-left: 0px;
        margin-top: 3px;
    }

    section.about .profile .profile-cta .roles p:nth-child(3){
        margin-left: 0px;
        margin-top: 2px;
    }

    section.about .profile .profile-cta .buttons-cta {
        margin-top: 15px;
    }

    section.about .profile .profile-cta .buttons-cta button {
        font-size: 10px;
        border-radius: 3px;
        padding: 4px 15px;
    }
    
    section.about .profession p {
        padding: 10px 20px;
        font-size: 10px;
    }

    section.about .profession-about p {
        font-size: 12px;
    }

}